<div id="search">
	<div class="button_container">	
		<%= form_tag '/' + params[:controller], :method => "get" do %>
			<%= hidden_field_tag :direction, params[:direction] %>
		  <%= hidden_field_tag :sort, params[:sort] %>
			<%= text_field_tag :search, {}, :size => 32, :value => "Search for cards", :id => "search_box" %>	
			<%= submit_tag "Search", :name => nil, :class => "button" %>
		<% end %>
	</div>
</div>