<h1>
	<% if @current_cardlist.nil? %>
		New Cardlist
	<% else %>	
	  <%= @current_cardlist.title || "New Cardlist" %> (<%= @current_cardlist.total_quantity %>)
	<% end %>
</h1>

<% if @current_cardlist.nil? or @current_cardlist.cardlist_items.empty? %>
  <h2>Use Search to add cards.</h2>
<% else %>
  <%= render :partial => "cardlist_item", :collection => @current_cardlist.new_record? ? @current_cardlist.cardlist_items : [] %>
<% end %>

<% if not @current_cardlist.cardlist_items.empty? %>
	<div class = "button_container">
	    <%= form_tag("/cardlists/#{@current_cardlist.id.to_s}.pdf", :method => "get") do %>
	      <%= submit_tag "Print" , :class => "button" %>
	    <% end %>
	</div>

	<div class = "button_container">
	    <%= form_remote_tag :url => { :action => "clear_current_cardlist" }, :confirm => "Are you sure?" do %>
	      <%= submit_tag "Clear" , :class => "button" %>
	    <% end %>
	</div>
<% end %>
  
