<div class = "search-result-wrapper">
	<%= form_tag "#", :remote => true,
						:loading => "Element.show('spinner'); $('notice').update('Adding card...');", 
						:complete => "Element.hide('spinner');"	do %>
							
		<div class = "results-thumbnail">
			<%= link_to image_tag(search_result.card_image.url(:thumbnail)), card_path(search_result) %>			
		</div>

		<div class = "results-name">
			<%= link_to search_result.truncated_formatted_title(40), card_path(search_result) %>
			<p>
				<%= search_result.truncated_card_type_and_subtype(40) %>
			</p>
			<p>
				<%= search_result.expansion %>
			</p>
			<p>
				<%= search_result.side %> Side
			</p>
			<p>
				Latest as of: <%= l search_result.updated_at.localtime, :format => :without_time %>
			</p>
		</div>

		<div class = "results-add">
			<%= image_submit_tag "/images/add.png", :class => "add-to-decklist-button" %>
		</div>
	
	<% end %>
  
</div>