<div class="left">
  <div class="saved_cardlists">
    <%= render :partial => "saved_cardlists" %>
  </div>
</div>

<div class="right">
  <div class="current_cardlist">
    <%= render :partial => "current_cardlist" %>
  </div>
</div>

<div class="center">
	<h2><%= page_entries_info @cards %></h2>
	<div class="search_results" id ="search_results">
		<%= render :partial => "search_result", :collection => @cards %>
	</div>
	<p><%= will_paginate @cards %></p>
</div>