<div class="left">
  <div id="saved_cardlists">
    <%= render :partial => "saved_cardlists" %>
  </div>
</div>

<div class="right">
  <div id="current_cardlist">
    <%= render :partial => "current_cardlist", :object => @cardlist %>
  </div>
</div>

<div class="center">
  <%= render "shared/search_details" %>
  <div class="search_results" id ="search_results">
    <%= render :partial => "search_result", :collection => @cards %>
  </div>
  <p><%= will_paginate @cards %></p>
</div>
