<div class="header">
	<div id="notice_box">
		<%= image_tag '/images/ajax-loader.gif', :id => 'spinner', :style=>"display:none;" %>
		<p id="notice">Welcome, <%= current_user.email %></p>
	</div>
	
	<a href id="logo">SWCCG vkit Online - Create custom virtual card pages for Star Wars CCG.</a>
	
	<%= render :partial => "search_pane" %>
	
	<p id = "links"><%= render :partial => "links" %></p>
</div>

<div class="left">
  <div class="saved_cardlists">
    <%= render :partial => "saved_cardlists" %>
  </div>
</div>

<div class="right">
  <div class="current_cardlist">
    <%= render :partial => "current_cardlist" %>
  </div>
</div>

<div class="center">
	<h1>Search Results</h1>	
	<div class="search_results" id ="search_results">
		<%= link_to "Card Database", cards_path %>
	</div>
</div>