<div id="welcome_logo">
	<%= image_tag "vkit_logo.gif" %>
</div>

<div id="errors">
	<%= flash[:alert] %>
</div>


<div id="welcome_login">
	<h2>Sign in</h2>

	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	  <p class="hidden"><%= f.label :email %></p>
    <p><%= f.text_field :email, :class => "text-field", :id => "user_email" %></p>

	  <p class="hidden"><%= f.label :password %></p>
    <p><%= f.password_field :password, :class => "text-field", :id => "user_password" %></p>

	  <p><%= f.submit "Sign in", :id => "login_button", :class => "button" %></p>

    <p id="remember_me"><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
	
		<div id="login_links">
			<p><%= link_to "New here? Sign up!", new_user_registration_path %></p>
			<p><%= link_to "Forgot your password?", new_password_path(resource_name) %></p>
		</div>
	<% end %>
</div>

