<div id="image_header">
	<%= image_tag "card_database.gif", {:alt => "Card Database", :id => ""} %>
</div>

<div id="notice">
	<%= flash[:notice]%>
</div>

<div id="search">
	<%= form_tag cards_path, :method => 'get' do %>
		<%= hidden_field_tag :direction, params[:direction] %>
	  <%= hidden_field_tag :sort, params[:sort] %>
		<p>
	    <%= text_field_tag :search, params[:search], :id => "search" %>
	    <%= submit_tag "Search", :name => nil %>
	  </p>
	<% end %>
</div>

<p><%= link_to 'Add a card', new_card_path %></p>
<p><%= will_paginate @cards %></p>

<div id="cards">
	<table id="cards">
		<tr>
			<th>
				<%= sortable "title" %>
			</th>
			<th>
				<%= sortable "expansion" %>
			</th>
			<th>
				<%= sortable "side" %>
			</th>
			<% if can? :manage, Card %>
				<th>
					<h2>Admin</h2>
				</th>
			<% end %>
		</tr>
		<%= render :partial => "card", :collection => @cards %>
	</table>
	
	<p><%= will_paginate @cards %></p>
	<p><%= link_to 'Add a card', new_card_path %></p>
</div>