<div id="image_header">
	<%= image_tag "card_database.gif", {:alt => "Card Database", :id => ""} %>
</div>

<div id="notice">
	<%= flash[:notice]%>
</div>

<p>Currently logged in as: <%= current_user.email %></p>
	<p>Roles:</p>
	<% current_user.roles.each do |role| %>
	 	<p><%= role.name  %></p>
	<% end %>

<div id="cards">
	<ul>
	<% for card in @cards %>
		<li>
			<%= link_to card.title, edit_card_path(card) %>
		</li>
	<% end %>
	</ul>

	<p><%= link_to 'New card', new_card_path %></p>
</div>