<div id="image_header">
	<%= image_tag "card_database.gif", {:alt => "Card Database", :id => ""} %>
</div>

<div id="card_form">
	<%= form_for @card, :url => cards_path, :html => { :multipart => true } do |f| %>
		<%= render :partial => "shared/error_messages", :locals => { :target => @card } %>

	  <p>
	    <%= f.label :title %><br />
	    <%= f.text_field :title %>
	  </p>
	  <p>
	    <%= f.label :side %><br />
	    <%= f.text_field :side %>
	  </p>
	  <p>
	    <%= f.label :expansion %><br />
	    <%= f.text_field :expansion %>
	  </p>
	  <p>
	    <%= f.label :uniqueness %><br />
	    <%= f.text_field :uniqueness %>
	  </p>
	  <p>
	    <%= f.label :card_type %><br />
	    <%= f.text_field :card_type %>
	  </p>
	  <p>
	    <%= f.label :subtype %><br />
	    <%= f.text_field :subtype %>
	  </p>
	  <p>
	    <%= f.label :card_image %><br />
	    <%= f.file_field :card_image %>
	  </p>
	  <p>
	    <%= f.label :vslip_image %><br />
	    <%= f.file_field :vslip_image %>
	  </p>
	  <p>
	    <%= f.label :card_back_image %><br />
	    <%= f.file_field :card_back_image %>
	  </p>
	  <p>
	    <%= f.label :vslip_back_image %><br />
	    <%= f.file_field :vslip_back_image %>
	  </p>
	  <p>
	    <%= f.submit "Create", :class => "button" %>
	  </p>
	<% end %>
</div>
