<div id="notice">
	<%= flash[:notice]%>
</div>

<% @card.rarity %>

<div id="card_details">
	<div id="left">
		<h2>
			<%= @card.formatted_title %>
			<% if can?(:edit, @card) %>
				<%= link_to "[Edit]", edit_card_path(@card) %>
			<% end %>
		</h2>
		
		<dt>Card Type:</dt>
		<dd><%= @card.card_type_and_subtype %></dd>
		
		<dt>Expansion:</dt>
		<dd><%= @card.expansion %></dd>
		
		<dt>Side:</dt>
		<dd><%= @card.side %></dd>
		
		<dt>Lore:</dt>
		<dd><%= @card.lore %></dd>
		
		<dt>Gametext:</dt>
		<dd><%= @card.gametext %></dd>
		
		<div id="attributes">
			<% @card.card_attributes.each do |attribute| %>
				<p>
					<dt><%= attribute.name %>:<dt>
					<dd><%= attribute.value %><dd>
				</p>
			<% end %>
		</div>
		
		<div id="characteristics">
			<dt>Characteristics:</dt>
			<dd><%= @card.card_characteristics.map(&:name).join(', ') %></dd>
		</div>
		
	</div>
	<div id="right">
		<dt>Card Image:</dt>
		<dd><%= image_tag @card.card_image.url(:full_size) %></dd>
		<dd><%= image_tag @card.card_back_image.url(:full_size) if @card.has_card_back_image? %></dd>
		
		<% if @card.has_vslip_image? %>
			<dt>Virtual Slip:</dt>
			<dd><%= image_tag @card.vslip_image.url(:full_size) %></dd>
			<dd><%= image_tag @card.vslip_back_image.url(:full_size) if @card.has_vslip_back_image? %></dd>
		<% end %>
		
		<dt>Created:</dt>
		<dd><%= l @card.created_at.localtime %></dd>
		
		<dt>Last Modified:</dt>
		<dd><%= l @card.updated_at.localtime %></dd>
	</div>
</div>