<!DOCTYPE html>
<html>
<head>
  <title>vkit online / Create custom virtual card printouts for Star Wars: CCG</title>
  <link rel="icon" type="image/png" href="/images/favicon.png" />
  <% javascript_include_tag('cucumber') if Rails.env == 'cucumber' %>
  <%= stylesheet_link_tag "stylesheet" %>
  <%= javascript_include_tag :defaults, "jquery.jeditable" %>
  <%= csrf_meta_tag %>
  
<script type="text/javascript">
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/Rz4ldo9qT46bjMXnG5pKag.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>

</head>
<body class ="<%= params[:controller].gsub('/',' ') %>">

<%= render "shared/header" if current_user %>
<%= yield %>

</body>
</html>
